# Xcode
.DS_Store
build/
Pods
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Fastlane
/fastlane/report.xml
/fastlane/.env*private*
fastlane/test-output/*

Carthage/Build_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!vipkid-parent.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Fastlane
/fastlane/report.xml
/fastlane/.env*private*
fastlane/test-output/*
fastlane/test_output
oc_lint.xml
node_modules/
package-lock.json
package.json
#CocoaPods
Pods/

